.container, body{
	height: 100%;
	width: 100%;
	position: fixed;
	overflow-y:hidden;
	padding: 0
}

nav{
	opacity: .8
}

.mid-div{

	left: 29%;
		font-family: 'EB Garamond', serif;

}

.buy{
	font-weight: 700;
	background: transparent;
	border: 2px solid black;
	position: relative;
	left: 55.5% !important;
	font-family: 'EB Garamond', serif;
}

.buy:hover{
	background: black;
	color: white;
	border: 2px solid black
}

@media screen and (max-width: 767px) {
	.mid-div{
	left: 0% !important;
}
.buy{
	left: 0%!important;
}}

@media screen and (max-width: 1120px) and (min-width: 767px){
	.buy-nav{
		left: 50%!important
	}
}

.navbar-brand{
	padding: 0
}

.brand-logo{
	height: 100%;
	top: -5%;
	left: 3%;
	margin-left: 30%;
	
	
}

.content_area{
	height: 100%;
	width: 100%;
	left: -1.5%;
	position: relative;
	left: 0%;
	top: -3%;
	background-color: #d5efa5;
}

.title{
	font-family: 'EB Garamond', serif;
	top: 10%;
	position: relative;
	text-align: center;
}

table{
	height: 60%;
	width: 60%;
	position: relative;
	top: 10%;
	left: 20%
}

.row{
	height: 33%;
	width: 100%;
}


.logo{
	width: 55%;
	margin: 2%;
	text-align: center;
	vertical-align: middle;

}