.container, body{
	height: 100%;
	width: 100%;
	position: fixed;
	overflow-y:scroll;
	padding: 0
}

nav{
	opacity: .8
}

.mid-div{
	left: 35%;
	font-family: 'Merriweather', serif;

}
.buy{
	font-weight: 700;
	background: transparent;
	border: 2px solid black;
	position: relative;
	left: 67.5% !important;
	font-family: 'Merriweather', serif;
}

.buy:hover{
	background: black;
	color: white;
	border: 2px solid black
}

@media screen and (max-width: 767px) {
	.mid-div{
	left: 0% !important;
}
.buy{
	left: 0%!important;
}}

.navbar-brand{
	padding: 0
}

.brand-logo{
	height: 100%;
	top: -5%
	
}

.content_area{
	height: 100%;
	width: 100%;
	left: -1.5%;
	position: relative;
	left: 0%;
}
 #area2{
	background-color: white;
	z-index: 7;
}
@media screen and (max-width: 1200px) {
	#area2{
		height: 120%;
}
}
@media screen and (max-width: 600px) {
	#area2{
		height: 220%;
}
}

.footer{
	height:30%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	z-index: 10;
	background-color: white;
	opacity: .8;

}

#area1{
	z-index: 7;
}

/* Universaal Text Formatting*/
.section-title{
	margin: 0px;
	font-family: 'Pacifico', cursive;
}

/* Top Section on home page */
.top-img{
	background-image: url("https://dl.dropboxusercontent.com/s/my494u7uw0vh8a2/white-clean-home-kitchen-interior-design-some-home-appliance-you-must-have-to-achieve-a-clean-and-healthy-home.png?dl=0");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: 1
}

#home-title-box{
	z-index: 10;
	width:60%;
	height: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	left: 20%;
	color: green;
	top: 30%;
	background-color: white;
	opacity: .8;
	padding: 2% 3%;
	font-family: 'Merriweather', serif;
}

#action1{
	left: 0%!important
}
.logo{
	height: 90%
}

/*Section 2*/

#tb-section2{
	top: 10%;
	position: relative;
	text-align: center;
}
#c-section2{
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	margin-top: 10%
}

.fact-box{
	height: 300px;
	width: 300px;
	text-align: center;
}
.fact-circle{
	height: 220px;
	width: 220px;
	border: 2px solid black;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	background-size: cover

}

#fcircle1{
	background-image: url("https://dl.dropboxusercontent.com/s/jq86kxdj2j93zv7/2446506310_c82e0c6db8.jpg?dl=0");
}

#fcircle2{
	background-image: url("https://dl.dropboxusercontent.com/s/k41wwew336rfd18/PortWineBiscottiDSC_0438_029.jpg?dl=0");
}

#fcircle3{
	background-image: url("https://dl.dropboxusercontent.com/s/r9hnhh7uyej1ude/cranberry-almond-biscotti.jpg?dl=0");
}

#fcircle4{
	background-image: url("https://dl.dropboxusercontent.com/s/32xrnr2upk8uypl/Fresh-Spices.jpg?dl=0");
}


.fact-tittle{
	font-size: 1.8em;
	top: 6%;
	font-weight: 600;
	font-family: 'Pacifico', cursive;
	margin-bottom: 3%;
	margin-top: 3%
}
.fact-text{

	width: 80%;
	left: 10%;
	position: relative;
	font-family: 'Merriweather', serif;
	font-size: 1.3em
}

.buy-main{
	left: 
}
/* Footer */

.logo-footer{
	width: auto;
	height: 100%;
	
}

.fcolumn{
	height: 100%;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

#col1{
	padding-top: 2%
}

#col1 a{
	line-height: 3;
	color: green;
	font-family: 'Merriweather', serif;

}

#col2{
	width: 50%
}

#col3{
	padding-top: 5%

}

#col3 div{
	color: green;
	font-size: 3.5em;
	margin: 3%;
	-webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
	}

#col3 div:hover{
	color: white;
   font-size: 3.8em;
}

.buy-footer{
	left:0%!important;
	vertical-align: middle;

}
